[submodule "lib/bgfx"]
	path = lib/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "lib/bx"]
	path = lib/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "lib/bimg"]
	path = lib/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/par"]
	path = lib/par
	url = https://github.com/prideout/par.git
[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/assimp/assimp.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/Remotery"]
	path = lib/Remotery
	url = https://github.com/Celtoys/Remotery.git
[submodule "lib/rpmalloc"]
	path = lib/rpmalloc
	url = https://github.com/mjansson/rpmalloc.git
[submodule "lib/yoga"]
	path = lib/yoga
	url = https://github.com/facebook/yoga.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
