[submodule "lib/bgfx"]
	path = lib/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "lib/bx"]
	path = lib/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "lib/bimg"]
	path = lib/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/par"]
	path = lib/par
	url = https://github.com/prideout/par.git
[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/assimp/assimp.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/rpmalloc"]
	path = lib/rpmalloc
	url = https://github.com/mjansson/rpmalloc.git
[submodule "lib/yoga"]
	path = lib/yoga
	url = https://github.com/facebook/yoga.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/openal-soft"]
	path = lib/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "lib/entt"]
	path = lib/entt
	url = https://github.com/skypjack/entt.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/libdivide"]
	path = lib/libdivide
	url = https://github.com/ridiculousfish/libdivide.git
[submodule "lib/tinyexr"]
	path = lib/tinyexr
	url = https://github.com/syoyo/tinyexr.git
[submodule "lib/PhysX"]
	path = lib/PhysX
	url = https://github.com/NVIDIAGameWorks/PhysX.git
[submodule "lib/microprofile"]
	path = lib/microprofile
	url = https://github.com/jonasmr/microprofile.git
